<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
        <!-- INNER PAGE BANNER -->
        <app-banner1 [data]="banner"></app-banner1>
        <!-- INNER PAGE BANNER END -->
        
        <!-- SECTION CONTENT START -->
        <app-blog-grid1 [data]="blogs"></app-blog-grid1>
        <!-- SECTION CONTENT END  -->

    </div>
    <!-- CONTENT END -->
               
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->
    
</div>

<app-loader></app-loader>