@media only screen and (max-width: 768px) {
    .logo-header img {
        width: 100%
        ;  /* Adjust the width as needed */
        height: 22px;/* Maintain aspect ratio */
        
        overflow: visible; 
    }
}