<div class="section-full mobile-page-padding p-tb80 overlay-wraper bg-cover bg-center" style="background-image:url(assets/images/background/bg-site.png)">
    <div class="overlay-main bg-primary opacity-07"></div>
    <div class="container">

            <div class="section-content">
                <div class="call-us-section text-center">
                    <h4 class="m-b15">Let's work together</h4>
                    <h2 class="call-us-number m-b15 m-b0">(416)-509-7881</h2>
                    <h4 class="call-us-address m-t0 m-b20">Unit B3</h4>
                    <h4 class="call-us-address m-t0 m-b20">63 Silver Star Blvd</h4>
                    <h4 class="call-us-address m-t0 m-b20">Toronto, ON M1V 5E5</h4>
                    <a routerLink="/contact" class="site-button-secondry btn-effect bg-dark">Contact Us</a>
                </div>
            </div>
        
    </div>
</div>