<div class="section-full p-t80 p-b80 bg-white inner-page-padding">
    <div class="container">
        <!-- TITLE START -->
        <div *ngIf="title == '1'" class="section-head no-margin ">
            <div class="mt-separator-outer separator-left">
                <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">About</span> Company</h2>
                </div>
            </div>
        </div>                   
        <!-- TITLE END -->  
        <div class="section-content ">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="m-about ">
                        <div class="owl-carousal about-us-carousal">
                            <!-- COLUMNS 1 -->
                            <div class="item" *ngFor="let object of data.slides">
                                <div class="ow-img">
                                    <a routerLink="/about"><img
                                            src="{{object.image}}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="m-about-containt text-black">
                        <div class="m-about-years bg-moving"
                            style="background-image:url(assets/images/background/line.png);">
                            <span class="text-primary large-title">{{data.experience}}</span>
                            <span class="large-title-info">Years of Experience</span>
                        </div>
                        <h3 class="font-weight-600">Improving quality of life with an integrated unified
                            approach.</h3>
                        <p>At Aaron Energy Services, we're more than just a family-owned business – we're a legacy of excellence since our inception in 2009. Originating as an electrical contractor, we've evolved over the years to offer a comprehensive suite of services encompassing electrical, mechanical, heating & cooling, as well as natural gas and hydraulics. Committed to delivering unparalleled efficiency and quality, safety remains at the forefront of everything we do. Our unwavering dedication to excellence has earned us the trust and recognition of residential, commercial, and industrial clients across the Greater Toronto Area (GTA)</p>
                        <div class="author-info p-t20">

                            <!-- <div class="author-signature">
                                <img src="{{data.sign}}" alt="Signature" width="150" />
                            </div> -->

                            <div class="author-name">
                                <h4 class="m-t0">{{data.author}}</h4>
                                <p>{{data.designation}}</p>
                            </div>
                            <a routerLink="/contact" class="site-button btn-effect m-b15"><span>Get in
                                    touch</span></a>

                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>