<div class="page-wraper">
  <!-- HEADER START -->
  <app-header2></app-header2>
  <!-- HEADER END -->

  <!-- CONTENT START -->
  <div class="page-content">

    <!-- SLIDER START -->
    <app-slider2></app-slider2>
    <!-- SLIDER END -->

    <!-- OUR SPECIALLIZATION START -->
    <app-specializations2 [data]="specializations"></app-specializations2>
    <!-- OUR SPECIALLIZATION END -->

    <!-- ABOUT COMPANY START -->
    <app-about2 [data]="about"></app-about2>
    <!-- ABOUT COMPANY END -->

    <!-- OUR VALUE START -->
    <app-our-value2 [data]="ourValue"></app-our-value2>
    <!-- OUR VALUE END -->

    <!-- OUR MISSION START -->
    <app-mission2></app-mission2>
    <!-- OUR MISSION  END -->

    <!-- OUR SERVICES START -->
    <app-services2 [data]="services"></app-services2>
    <!-- OUR SERVICES  END -->

    <!-- CALL US SECTION START -->
    <app-call-us2></app-call-us2>
    <!-- CALL US SECTION END -->

    <!-- OUR PROJECT START -->
    <app-projects2 [data]="projects" zoom="0"></app-projects2>
    <!-- OUR PROJECT END -->

    <!-- OUR Team START -->
    <app-team1 [data]="team"></app-team1>
    <!-- OUR Team END -->

    <!-- Our PRICING PLAN -->
    <app-pricing1 [data]="pricing"></app-pricing1>
    <!-- Our PRICING PLAN -->

    <!-- CLIENT LOGO SECTION START -->
    <app-clients1 [data]="clients"></app-clients1>
    <!-- CLIENT LOGO  SECTION End -->

    <!-- TESTIMONIALS SECTION START -->
    <app-testimonials2 [data]="testimonials"></app-testimonials2>
    <!-- TESTIMONIALS SECTION END -->

  </div>
  <!-- CONTENT END -->

  <!-- FOOTER START -->
  <app-footer2></app-footer2>
  <!-- FOOTER END -->

</div>

<app-loader></app-loader>