@media only screen and (min-width: 600px) {
    iframe {
        width: 90%;
        height: calc(40vw * 0.6);
    }
}

@media only screen and (max-width: 600px) {
    iframe {
        width: 90%;
        height: auto;
    }
}