<footer class="site-footer footer-large  footer-dark	footer-wide">
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="widget widget_about">
                        <div *ngIf="page != '4'" class="logo-footer clearfix p-b15">
                            <a routerLink="/index"><img src="assets/images/logo-removebg-preview.png" alt=""></a>
                        </div>
                        <div *ngIf="page == '4'" class="logo-footer clearfix p-b15">
                            <a routerLink="/index"><img src="assets/images/logo-removebg-preview.png" alt=""></a>
                        </div>
                        <p>Experience the realization of your vision! With your dedication and our expertise, witness the unveiling of your stunning new project - a testament to your passion and our craftsmanship. Let's bring your vision to life together!</p>
                    </div>
                </div>

                <!-- USEFUL LINKS -->
                <div class="col-lg-3 col-md-6 col-sm-6 footer-col-3">
                    <div class="widget widget_services inline-links">
                        <h4 class="widget-title">Useful links</h4>
                        <ul>
                            <li><a routerLink="/index">Home</a></li>
                            <li><a routerLink="/about">About</a></li>
                            <li><a routerLink="/project-grid">Projects</a></li>
                            <li><a routerLink="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <!-- contact us -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_address_outer">
                        <h4 class="widget-title">Contact Us</h4>
                        <ul class="widget_address">
                            <li>Unit B3, 63 Silver Star Blvd, Toronto, ON, Canada</li>
                            <li>aaronexcom@yahoo.ca</li>
                            <li>(416) 509-7881</li>
                        </ul>

                    </div>
                </div>



                <!-- TAGS -->
                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget recent-posts-entry-date">
                        <div class="widget-post-bx">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.35382104642!2d-79.2912434!3d43.807019800000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d3e21a044f47%3A0x54c53803aadf21ca!2s63%20Silver%20Star%20Blvd%20b3%2C%20Scarborough%2C%20ON%20M1V%205E5!5e0!3m2!1sen!2sca!4v1711486324588!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div> -->
                <!-- NEWSLETTER -->

            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="mt-footer-bot-center">
                    <span class="copyrights-text">© Aaron Energy Services 2024</span>
                </div>
            </div>
        </div>
    </div>
</footer>
