<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-banner1 [data]="banner"></app-banner1>
        <!-- INNER PAGE BANNER END -->
         
        <!-- ABOUT COMPANY SECTION START -->
        <app-about3 [data]="about" title="1"></app-about3>  
        <!-- ABOUT COMPANY SECTION END -->
        
        <!-- OUR SPECIALLIZATION START -->
        <!-- <app-specializations4 [data]="specializations"></app-specializations4>    -->
        <!-- OUR SPECIALLIZATION END -->            
         
        <!-- OUR TEAM START -->
        <!-- <app-team3 [data]="team"></app-team3> -->
        <!-- OUR TEAM END -->

        <!-- OUR STORY SECTION START -->
        <!-- <app-story1 [data]="story"></app-story1>  -->
        <!-- OUR STORY SECTION END -->                          
        
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->
    
</div>

<app-loader></app-loader>