<div class="mt-icon-box-wraper m-b30">
    <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
        <span class="icon-count-number">{{data.id}}</span>
        <div class="icon-md inline-icon m-b15 text-primary scale-in-center">
            <span class="icon-cell"><img src="{{data.icon}}" alt=""></span> <!-- Icon -->
        </div>
        <div class="icon-content">
            <h4 class="mt-tilte m-b10">
                {{data.name}}
            </h4>
            <p>{{data.description | truncate:15}}</p>
            <a href="javascript:void(0)" class="site-button-link" (click)="openPopup()">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
        </div>
    </div>
</div>

<!-- Popup window -->
<div class="popup" [class.popupVisible]="popupVisible">
    <span class="close" (click)="closePopup()">&times;</span>
    <h3>
        <span class="icon-wrapper"><img src="{{data.icon}}" alt=""></span> <!-- Icon -->
        {{data.name}}
    </h3>
    <div class="color-bar"></div>
    <p>{{data.description}}</p>
    <span class="close-bottom" (click)="closePopup()">Close</span> <!-- Close button for small screens -->
</div>
