<div class="section-full  our-service-wrap  mobile-page-padding  p-b50  square_shape2">
    <div class="section-content">
        <div class="Service-half-top p-t80  bg-dark bg-moving" style="background-image:url(assets/images/background/bg-6.png)" >
            <div class="container">
                <!-- TITLE START -->
                <div class="section-head left text-white"> 
                    <div class="mt-separator-outer separator-left">
                        <div class="mt-separator">
                            <h2 class="text-white text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Services</h2>
                        </div>
                    </div>
                    <h3>Experience the utmost dedication to quality and excellence in every aspect of our service.</h3>
                </div>                  
                <!-- TITLE END -->
            </div>
        </div>
        <div class="services-half-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6" *ngFor="let object of services">
                        <app-service-box1 [data]="object"></app-service-box1>                           	
                    </div>                                                   
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
        <strong>Services</strong>
    </div>
    <br>               
</div>