<div class="page-wraper">

    <!-- HEADER START -->
    <app-header3></app-header3>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- SLIDER START -->
        <app-slider4></app-slider4>
        <!-- SLIDER END -->

        <!-- ABOUT COMPANY SECTION START -->
        <app-about3 [data]="about" title="0"></app-about3>
        <!-- ABOUT COMPANY SECTION END -->

        <!-- OUR SPECIALLIZATION START -->
        <app-specializations3 [data]="specializations"></app-specializations3>
        <!-- OUR SPECIALLIZATION END -->

        <!-- OUR VALUE START -->
        <app-our-value2 [data]="ourValue"></app-our-value2>
        <!-- OUR VALUE END -->

        <!-- SECTION PROJECTS START -->
        <app-projects4 [data]="projects" projectGrid="0"></app-projects4>
        <!-- SECTION PROJECTS END  -->

        <!-- OUR All SERVICES START -->
        <app-services4 [data]="services"></app-services4>
        <!-- OUR All SERVICES END -->

        <!-- ABOUT COMPANY SECTION START -->
        <app-about4 [data]="about2"></app-about4>
        <!-- ABOUT COMPANY SECTION END -->

        <!-- OUR TEAM START -->
        <app-team2 [data]="team"></app-team2>
        <!-- OUR TEAM END -->

        <!-- OUR BLOG START -->
        <app-blogs2 [data]="blogs"></app-blogs2>
        <!-- OUR BLOG END -->

        <!-- FAQ START -->
        <app-faq1 [data]="faq"></app-faq1>
        <!-- FAQ END -->
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <app-footer1 page="4"></app-footer1>
    <!-- FOOTER END -->

</div>

<app-loader></app-loader>