<div class="page-wraper">

    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- SLIDER START -->
        <app-slider1></app-slider1>
        <!-- SLIDER END -->

        <!-- OUR SPECIALLIZATION START -->
        <app-specializations1 [data]="specializations"></app-specializations1>
        <!-- OUR SPECIALLIZATION END -->

        <!-- ABOUT COMPANY START -->
        <app-about1 [data]="aboutSlides"></app-about1>
        <!-- ABOUT COMPANY END -->

        <!-- OUR VALUE START -->
        <app-our-value1 [data]="ourValue"></app-our-value1>
        <!-- OUR VALUE END -->

        <!-- OUR MISSION START -->
        <app-mission1></app-mission1>
        <!-- OUR MISSION  END -->

        <!-- OUR SERVICES START -->
        <app-services1 [data]="services"></app-services1>
        <!-- OUR SERVICES  END -->

        <!-- CALL US SECTION START -->
        <app-call-us1></app-call-us1>
        <!-- CALL US SECTION END -->

        <!-- OUR PROJECT START -->
        <app-projects1 [data]="projects"></app-projects1>
        <!-- OUR PROJECT END -->

        <!-- OUR BLOG START -->
        <app-blogs1 [data]="blogs"></app-blogs1>
        <!-- OUR BLOG END -->

        <!-- TESTIMONIALS SECTION START -->
        <app-testimonials1 [data]="testimonials"></app-testimonials1>
        <!-- TESTIMONIALS SECTION END -->
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>

<app-loader></app-loader>