<div class="page-wraper">

    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- SLIDER START -->
        <app-slider1></app-slider1>
        <!-- SLIDER END -->

        <!-- OUR SPECIALLIZATION START -->
        <app-specializations1 [data]="specializations"></app-specializations1>
        <!-- OUR SPECIALLIZATION END -->

        <!-- OUR SERVICES START -->
        <app-services1></app-services1>
        <!-- OUR SERVICES  END -->

        <!-- OUR PROJECT START -->
        <app-projects1></app-projects1>
        <!-- OUR PROJECT END -->

        <!-- CALL US SECTION START -->
        <app-call-us1></app-call-us1>
        <!-- CALL US SECTION END -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>

<app-loader></app-loader>